- provide(:title, @user.email)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = @user.email
      %h2
        - if current_user.is_friend?(@user.id) || @user.is_friend?(current_user.id)
          = link_to "Remove Friend",  reject_request_path(@user.id), class: "btn btn-primary", method: :delete
        - elsif current_user.is_pending_request?(@user.id)
          = link_to "Request Sent", add_friend_path(@user.id), class: "btn btn-primary", disabled: "disabled"
        - else
          = link_to "Add Friend", add_friend_path(@user.id), class: "btn btn-primary"
  .col-md-8
    - if @user.microposts.any?
      %h3
        Microposts (#{@user.microposts.count})
      %ol.microposts
        = render @microposts
      = will_paginate @microposts