- micropost = @posts
= link_to gravatar_for(micropost.user), '#'
%span.user
  = link_to micropost.user.email, posts_show_path(micropost.id)
%br/
%span.content
  = micropost.content
  = word_wrap(micropost.content, :line_width => 12)
  = image_tag micropost.picture.url if micropost.picture?
%br/
%span.timestamp
  Posted #{time_ago_in_words(micropost.created_at)} ago.
  %br/
  - if current_user != micropost.user
    - if current_user.is_friend?(micropost.user.id) || current_user.is_other_user_friend?(micropost.user.id)
      - if can? :like, @micropost
        - if micropost.is_like?(current_user)
          = link_to "like",  like_unlike_path(micropost.id)
          = micropost.number_of_likes
        - else
          = link_to "unlike",  like_unlike_path(micropost.id)
          = micropost.number_of_likes
      - if can? :comment, @micropost
        = link_to "Comment", '#', id: 'comment_btn'
  - else
    = link_to "Comment", '#', id: 'comment_btn'
    = link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" }
  %hr
    .comments.hide
      = form_for @comment, url: add_comment_path, method: :post do |f|
        = f.text_area :comments, placeholder: "Comment"
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :micropost_id , value: micropost.id
        = f.submit "Submit", class: 'btn btn-primary'
    = render "microposts/show_comment", comments: @comments