<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container" >
      <%#= link_to image_tag("index.png", alt: "FriendBook logo") %>
        <%= link_to "FriendBook", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Users",  users_path %></li>            
            <li><%= link_to "Pending Request",   pending_request_path  %></li>
            <li><%= link_to "Friends", friends_path %></li> 
            <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li> 
                          
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  User <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%#= link_to "Edit Profile", edit_user_registration_path %></li>
                  
                  <li class="divider"></li>
                  <li>
                    <%#= link_to "Log out", destroy_user_session_path, method: "delete" %>
                  </li>
                </ul>
              </li> -->


              <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%#= link_to "Profile", edit_user_registration_path %></li>
              <li><%#= link_to "Settings", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li>
                <%#= link_to "Log out", destroy_user_session_path, method: "delete" %>
              </li>
            </ul>
          </li> -->


          <% else %>
              <%= link_to "Sign up", new_user_registration_path %> 
              <%= link_to "Login", new_user_session_path %>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>










































<!-- 
        <nav>
          <p class="navbar-text navbar-right">
            <% #if user_signed_in? %>
              <!-- Logged in as <strong><%#= current_user.email %></strong> -->
              <%#= link_to 'Home', new_user_session_path, :class => 'navbar-link', id: "headopt"  %>
              <%#= link_to 'MyPost', new_user_session_path, :class => 'navbar-link', id: "headopt" %>  


           <!--  <li class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  User
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%#= link_to 'Edit profile', edit_user_registration_path, 
                        :class => 'navbar-link' %></li>
                    <li><a href="#">Post</a></li>
                   
                    <li role="separator" class="divider"></li>
                    <li><%#= link_to "Logout", destroy_user_session_path, method: :delete, 
                    :class => 'navbar-link'  %></li>
                  </ul>
            <li>      -->      



           <!--  <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              User <b class="caret"></b>
              </a>  
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                <%#= link_to 'Edit profile', edit_user_registration_path, 
                :class => 'navbar-link' %>

                <li role="separator" class="divider"></li>
                  <%#= link_to "Logout", destroy_user_session_path, method: :delete, :class =>    'navbar-link'  %>
              </ul> 
            </li>   -->
            <%# else %>
              <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
              <%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <%# end %> 
        <!-- </nav>
      </div>
    </header> -->
